/* 
text - #9eb3b5 
background - #31415db8
hover - #fee0ac
title - #58769c
*/
img.me {
  width: 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

p,
a {
  font-family: "Merriweather", serif;
}

nav {
  padding-top: 5%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  /* height: 100vh; */
  /* margin-left: 3%; */
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

nav a {
  color: #9eb3b5;
  background: #31415db8;
  padding: 1% 3%;
}

nav a:hover {
  color: #fee0ac;
}

.app {
  /* display: flex; */
}

.myname-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3% 0;
}

.myname-img .subtitle {
  text-align: center;
  width: 55%;
  color: #9eb3b5;
  background-color: #31415db8;
  padding: 1% 2%;
}

.my-name-title {
  margin-bottom: 4%;
  padding: 3% 4%;
  background-color: #31415db8;
  color: #9eb3b5;
  font-size: 3rem;
}

.myname-img div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con-2 {
  padding: 5%;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 480px) and (max-width: 768px) {
  .app {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    margin: 0;
  }

  .me {
    margin-top: 3%;
  }

  .myname-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 3% 0;
  }

  a.links {
    font-size: 1.3rem;
  }

  h1.my-name-title {
    font-size: 2.5rem;
  }

  p.subtitle {
    font-size: 1rem;
  }

  img.me {
    width: 35%;
  }
}

@media all and (max-width: 480px) {
  .app {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    margin: 0;
  }

  .me {
    margin-top: 3%;
  }

  .myname-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 3% 0;
  }

  a.links {
    font-size: 1.3rem;
  }

  h1.my-name-title {
    font-size: 2.5rem;
  }

  p.subtitle {
    font-size: 1rem;
  }

  img.me {
    width: 35%;
  }
}
