/* 
text - #9eb3b5 
background - #31415db8
hover - #fee0ac
title - #58769c
*/
.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  background-color: #31415db8;
}

.siteLink {
  color: #9eb3b5;
}

.siteLink:hover {
  color: #fee0ac;
}

.projects-component .subtitle {
  width: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1.5%;
}

.tile.is-ancestor:last-child {
  margin-bottom: 0;
}

.box {
  padding: 1.25rem 1.25rem 0 1.25rem;
}

@media all and (min-width: 480px) and (max-width: 768px) {
  a.siteLink.title {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 480px) {
  a.siteLink.title {
    font-size: 1.5rem;
  }
}
