/* #ECDEC6 */
.about {
  margin: 2% 4%;
}
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-para {
  background-color: #31415d7a;
  line-height: 1.4rem;
  padding: 1% 7%;
}

.about-para p {
  color: #ecdec6;
  line-height: 1.5rem;
}

.background-img {
  text-align: center;
}
